<div class="col-md-8 blog-main">
  <div class="d-flex border-bottom">
    <div>
      <%= link_to 'New Blog Post', new_blog_path, class: 'btn btn-md btn-outline-success' %>
    </div>
  </div>
    <h2><%= @blog.title %></h2>
    <%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %>
    <p><%= @blog.body %></p>
</div>
<%= render 'shared/blog_sidebar' %>
